body {font-family: 'Helvetica';}
.check-data,
.smileys
{
  background: #3b58d3;
  color: #eaeaea;
}
.button {
  cursor: pointer;
  margin: 10px 0;
  display: inline-block;
  padding: 10px;
}
.container {
  display: inline-block;
  padding: 20px;
}

.facebook {
  background: #7683af
}

.instagram{
  background: #9dd39b;

  .button {
    background: #5ca845;
  }
}

.twitter {
  background: #3d65d1;
  .button {
    background: #6988db;
  }
}